In [ ]:
from selenium import webdriver

In [ ]:
from selenium.webdriver.common.by import By

In [ ]:
driver = webdriver.Chrome()

In [ ]:
driver.get("https://www.amazon.in/gp/bestsellers/books/")

In [ ]:
books = driver.find_elements("xpath", "//div[@class='a-column a-span12 a-text-center _cDEzb_grid-column_2hIsc']/div")

In [ ]:
dict={'book_title':[],'book_price':[]}

In [ ]:
for book in books:
    title = book.find_elements("xpath", ".//a/span/div")
    prices=book.find_elements("xpath", ".//div/div/a/div/span/span")
    for i in title:
        dict['book_title'].append(i.text)
    for i in prices:
        dict['book_price'].append(i.text)

In [ ]:
import pandas as pd
df=pd.DataFrame(dict)

In [ ]:
df.head()

                                          book_title book_price
0  Too Good to Be True : A smart, funny will-they...    ₹288.00
1  Oswaal CBSE 25 Combined Sample Question papers...    ₹405.00
2                            The Psychology of Money    ₹313.00
3  Dopamine Detox : A Short Guide to Remove Distr...    ₹190.00
4  My First Library: Boxset of 10 Board Books for...    ₹399.00

In [ ]:
pd.to_csv('books.csv')